= render 'shared/header'
.TopPage
  .TopPage-container.container.p-4.w-100
    .top-container.d-flex.row.py-4
      .go-en-explanation-text.col-md-9.text-center.my-4
        .border-bottom.border-success
          %h2.my-4.font-weight-bold
            Go-En
          %div
            駆け出しエンジニアが日々の学習内容の共有ができ、コミュニケーションが取れるwebサービスです。
      #go-en-explanation-image.go-en-explanation-image-mp4.col-md-3.top-image.border.border-success
    .top-container.py-3.d-flex.row
      #post-image.post-image-mp4.col-md-3.top-image.border.border-danger
      .post-text.col-md-9.text-center.my-4
        .border-bottom.border-danger
          %h2.my-4.font-weight-bold
            投稿
          %div
            日々の学習時間を投稿しよう
    .top-container.d-flex.row.my-3
      .post-index-text.col-md-9.text-center.py-4
        .border-bottom.border-warning
          %h2.my-4.font-weight-bold
            共有
          %div
            みんなの学習成果を見てみよう
      #post-index-image.post-index-image-mp4.col-md-3.top-image.border.border-warning
    .top-container.d-flex.row.my-3
      #message-image.message-image-mp4.col-md-3.top-image.border.border-primary
      .message-text.col-md-9.text-center.py-4
        .border-bottom.border-primary
          %h2.my-4.font-weight-bold
            メッセージ
          %div
            気になるエンジニアと繋がろう


    