<div class="loginPage">
  <div class="contain">
    <div class="loginPage_contents">
      <h1 class="h4 loginPage_contents_title">地上の楽園へようこそ</h1>
      <%= link_to "理想の相手を見つける", new_user_session_path, class: "btn loginPage_contentsf76c7f" %>
    </div>
  </div>
</div>

