<div class="message">
  <div class="left-message">
    <div class="left-message__img">
    <%= image_tag message.user.img_name.url(:thumb) %>
    </div>
  </div>
  <div class="right-message">
    <div class="upper-message">
      <div class="upper-message__name">
        <%= message.user.name %>
      </div>
      <div class="upper-message__date">
        <%= message.created_at.strftime("%m/%d %H:%M") %>
      </div>
    </div>
    <div class="lower-message">
      <p　class="lower-message__contents">
      <%= message.content %>
      </p>
    </div>
  </div>
</div>

