.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .header-container{
      max-width: 1010px;
      max-height:50px;
        .header-left{
          width:33%;
          @media (max-width:767px) {
            width:40%;
          }
              .header-icon{
                font-size:20px;
                @media (max-width:767px) {
                  font-size:16px;
                }
              }
              .header-line{
                background-color: #262626;
                background-color: rgba(var(--i1d,38,38,38),1);
                height: 28px;
                margin: 0 16px;
                -webkit-transition: opacity .1s ease-out;
                transition: opacity .1s ease-out;
                width: 1px;
              }
              .header-logo{
                font-family: 'Turret Road', cursive;
                font-size:22px;
                padding-bottom:10px;
                font-weight:bold;
                @media (max-width:767px) {
                  font-size:16px;
                }
              }
        }
        .header-center{
          width:33%;
          @media (max-width:767px) {
            width: 0;
            height: 0;
          }
          .fuzzy_search{
            width: 100%;
            position: relative;

            &__label{
              display:inline;
              &--icon{
                position:absolute;
                top: 10px;
                right: 10px;
              }
              &--btn{
                position: absolute;
                top: 10px;
                right: 10px;
                opacity: 0;
                cursor: pointer;
                width:0;
                height:0;
              }
            }
            &__field{
              display: block;
              width: 50%;
              height: 30px;
              margin: 0 auto;
              padding: 5px 5px 5px 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              background: #F5F5F5;
              transition-duration: 0.3s;
              @media (max-width:767px) {
                width: 0;
                height: 0;
                background: #fff;
                border: none;
              }
              &:focus {
                outline: 0;
              }
              &::-webkit-search-cancel-button {
                -webkit-appearance: none;
              }
            }
          }
        }
        .header-right{
          width:33%;
          @media (max-width:767px) {
            width:60%;
          }
            .header-link{
              margin: 0 0 0 auto;
              display:flex;
              width:100px;
              height:100px;
                &__icon{
                  margin-left: 30px;
                  font-size:24px;
                  width:30px;
                  height:30px;

                }
              }
                .signin-btns{
                  list-style: none;
                  display: flex;
                  margin: 0 0 0 auto;
                  width:200px;
                    .btn {
                      border-radius: 5px;
                      margin: 0 10px;
                      @media (max-width:767px) {
                        font-size:10px;
                        margin: 0 0 0 2px;
                      }
                    }
                    
                    .registration {
                      border: 1px solid #66CC33;
                      background: #66CC33;
                      color: #fff;
                      opacity: 0.8;
                      transition-duration: 0.3s;
                      &:hover {
                        opacity: 1;
                      }
                    }
                    
                    .login {
                      border: 1px solid #808080;
                      color: #808080;
                      transition-duration: 0.3s;
                      &:hover {
                        background: #808080;
                        color: #fff;
                      }
                    }
                  }
        }
    }
}

// インクリメンタルサーチ
.VR5_Q{
  position: relative;
    .VR6_Q{
      border: solid 1px #fff;
      -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
      box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
      height: 14px;
      left: 0;
      margin: auto;
      right: 0;
      top: -8px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 14px;
      content: ' ';
      position: absolute;
      background-color: #fff;
    }
    .fuzzysearch{
      background-color: #fff;
      border-bottom: 1px solid #e8e8e8;
      position:  relative;
      z-index: 1;
      box-shadow: 0 0 5px rgba(0,0,0,.0975);
    }
}