.chatPage{
  background-color:#F5F5F5;
  margin-top:60px;
    .chat-container{
      max-width: 935px;
        .messagesArea {
          box-sizing: border-box;
          height: calc(100vh - 180px);
          overflow: scroll;
          flex-direction: column;
          @media (max-width:767px) {
            height: calc(200vh - 180px);
            }
            .message {
              .left-message{
                &__img{
                    margin-top:10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    & > img {
                      width: 100%;
                    }
                  }
                }
              .right-message{
                margin-left:10px;
                .upper-message {
                  display: flex;
                  &__name {
                    color: #000;
                    font-size: 16px;
                    font-weight: bold;
                  }
                  &__date {
                    display:flex;
                    color: grey;
                    font-size: 12px;
                    padding-left: 10px;
                  }
                }
                .lower-message {
                  margin-top: 10px;
                  &__contents {
                    color: #000;
                    font-size: 14px;
                    margin-bottom: 40px;
                  }
                }
              }
            }
          }
          .form {
            background-color: #ffffff;
            box-sizing: border-box;
            height: 90px;
            padding: 20px 50px 20px 40px;
            border: solid 3px #dccbcb;
              border-radius: 10px;
              @media (max-width:767px) {
                height: 45px;
                padding: 10px 30px 10px 20px;
                }
            &__message {
              border: none;
              float: left;
              height: 50px;
              width: calc(100% - 150px);
              outline: 0;
              @media (max-width:767px) {
                height: 25px;
                padding: 10px 30px 10px 20px;
                }
            }
            &__submit {
              background-color: gray;
              border: none;
              color: #fff;
              float: right;
              font-size: 16px;
              height: 50px;
              margin-left: 15px;
              padding: 0 30px;
              @media (max-width:767px) {
                height: 25px;
                }
            }
          }
    }
}