.simpleheader
  .simpleheader-container
    .simpleheader-center
      = link_to posts_path do
        .simpleheader-icon
          = fa_icon 'laptop'
        .simpleheader-line
        .simpleheader-logo
          Go-En
