.groupNew {
  margin-top:60px;
  background-color:#F5F5F5;
  height:calc(100vh - 60px);
  @media (max-width:767px) {
  height:100%;
  }
  .group-container{
    max-width: 935px;
  .group-number {
    font-size: 18px;
    font-weight:bold;
    color: #66CC33;
  }
  .pageTitle {
    font-size: 20px;
  }
  .groupList {
    .matchingPerson {
      padding: 20px 0px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;
      align-items: center;
      &_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        & > img {
          width: 100%;

        }
      }
      form {
        position: absolute;
        right: 0;
        .chatForm_btn {
          border: none;
          padding: 10px;
          background: #66CC33;
          color: #fff;
          border-radius: 6px;
          cursor: pointer;
          transition: opacity .3s;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
  }
  .pagenation{
  color: #e8e8e8;
  margin: 20px auto 0;
  text-align: center;
    a{
      color: #66CC33;
    }
   }
  
}