.groupNew {
  margin-top:77px;
  background-color:#F5F5F5;
  height:calc(100vh - 77px);
  .group-container{
    max-width: 935px;
    margin: 0 auto;
    padding: 40px 20px;
  .matchingNum {
    text-align: center;
    font-size: 12px;
    color: #66CC33;
    margin-bottom: 20px;
  }
  .pageTitle {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }
  .groupList {
    margin-top: 30px;
    text-align: center;
    .matchingPerson {
 
      display: flex;
      align-items: center;
      padding: 20px 0px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;
      &_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        & > img {
          width: 100%;

        }
      }
      form {
        position: absolute;
        right: 0;
        .chatForm_btn {
          border: none;
          padding: 10px;
          background: #66CC33;
          color: #fff;
          border-radius: 6px;
          cursor: pointer;
          transition: opacity .3s;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
  }
  .pagenation{
  color: #e8e8e8;
  margin: 20px auto 0;
  text-align: center;
    a{
      color: #66CC33;
    }
   }
  
}