.postIndex{
    background-color: #F5F5F5;
    margin-top:60px;
    padding: 60px 0;
      .postIndex-container{
        max-width: 935px;
        display: flex;
        @media (max-width:767px) {
          display: block;
        }
        .postIndex-left{
          max-width: 293px;
          width: 100%;
          background-color:#fff;
          margin-right:40px;
          height:100px;
          @media (max-width:767px) {
            margin:0 auto 20px;
            margin-bottom:20px;
          }
        }
        .postIndex-right{
          width: 614px;
          background-color:#fff;
          @media (max-width:767px) {
            margin:0 auto;
            max-width: 614px;
          }
            .post-contents{
              text-decoration: none;
              .Indexlink{
                &:hover{
                  text-decoration: none;
                }
              .post-content{
                text-decoration: none;
                .post-content-user{
                  align-items: center;
                  border-bottom: 1px solid #333;
                    &__img{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 10px;
                    }
                }
                .post-content-text{
                  padding: 50px 0;
                  color: #777;
                  font-size: 18px;
                  line-height: 1.5;
                  @media (max-width:767px) {
                    padding: 20px 0;
                    font-size: 14px;
                    margin-bottom: 0;
                  }
                }
                .post-content-time{
                  color: #777;
                  font-size: 14px;
                  @media (max-width:767px) {
                    font-size: 12px;
                  }
                }
              }
              }
        }
        }
      }
}