.postIndex{
    background-color: #F5F5F5;
    margin-top:60px;
    padding: 60px 0;
      .postIndex-container{
        max-width: 1105px;
        display: flex;
        @media (max-width:767px) {
          display: block;
        }
        .postIndex-left{
          max-width: 340px;
          width: 100%;
          background-color:#fff;
          margin-right:40px;
          height:100%;
          @media (max-width:767px) {
            margin:0 auto 20px;
            margin-bottom:20px;
          }
            .recommendusers-container{
              .recommendusers-title{
                justify-content: space-between;
                .recommendusers-recommend{
                  color:#777;
                }
              }
              .recommendusers-users{
                .recommendusers-users-container{
                  align-items: center;
                  justify-content: space-between;
                  font-size: 14px;
                  font-weight: bold;
                    img{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 10px;
                    }
                    .postShow-follow-notin{
                      width: 35%;
                      background: #66CC33;
                      border: 1px solid #66CC33;
                      color: #fff;
                      display: block;
                      line-height: 24px;
                      font-size: 10px;
                      text-align: center;
                        a{
                          color:#fff;
                          text-decoration: none;
                        }
                      }
                      .follow-now {
                        padding: 0 10px;
                        width: 100%;
                        margin: 0;
                        background: #aaa;
                        border: 1px solid #aaa;
                        color: #fff;
                        display: block;
                        line-height: 24px;
                        font-size: 10px;
                        text-align: center;
                    }
                    .follows {
                      padding: 0 10px;
                      width: 100%;
                      margin: 0;
                      background: #66CC33;
                      border: 1px solid #66CC33;
                      color: #fff;
                      display: block;
                      line-height: 24px;
                      font-size: 10px;
                      text-align: center;
                  }
                }
              }
            }
        }
        .postIndex-right{
          width: 614px;
          background-color:#fff;
          @media (max-width:767px) {
            margin:0 auto;
            max-width: 300px;
          }
            .post-contents{
              text-decoration: none;
              .Indexlink{
                &:hover{
                  text-decoration: none;
                }
              .post-content{
                text-decoration: none;
                .post-content-user{
                  align-items: center;
                  border-bottom: 1px solid #333;
                    &__img{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 10px;
                    }
                }
                .post-content-text{
                  padding: 50px 0;
                  color: #777;
                  font-size: 18px;
                  line-height: 1.5;
                  @media (max-width:767px) {
                    padding: 20px 0;
                    font-size: 14px;
                    margin-bottom: 0;
                  }
                }
                .post-content-time{
                  color: #777;
                  font-size: 14px;
                  @media (max-width:767px) {
                    font-size: 12px;
                  }
                }
              }
              }
        }
        .pagenation{
          background-color:#f5f5f5;
          color: #ddd;
        .pagination{
          background-color:#f5f5f5;
          color: #ddd;
          padding-top: 20px;
          text-align: center;
          margin: 0 auto;
          width: 50%;
          nav{
            text-align: center;
            margin: 0 auto;
            a{
              color: #66CC33;
            }
          }
          }
          .pagination>li>a {          
            border: none;
            color: #696969; 
            background: #F5F5F5;
            opacity: 0.7;
          }
          
          .pagination>.active>a {     
            border-radius: 15px;
            opacity: 1;
          }
          .pagination>li>a:hover {        
            border-radius: 15px;
            opacity: 1;
            background: #66CC33;
          }
        }
      }
      }
}